// Configurações ------------------------------------------------------------ //
$seletor: '.logo-site';


// Componente --------------------------------------------------------------- //
#{$seletor} {
    // Texto
    text-decoration: none;
    font: 24px 'Avenir Next Condensed';
    // color: #6a8397;
    color: #888;

    // Visual
    display: inline-block;

    // Tamanho
    height: 100%;

    &::before {
        // Conteúdo
        // content: url('imgs/logotipo.png');
        content: '';

        // Visual
        display: inline-block;
        background: url('imgs/logotipo.png') left center no-repeat;
        background-size: contain;

        // Alinhamento
        vertical-align: middle;

        // Tamanho
        width: 35px;
        height: 100%;
    }
}
