/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 18/12/2014 17:05:58
 */

/**
 *  Flex
 *  -------
 *  Transformar uma caixa em uma caixa flexivel

 *  @var bool $important: se true, inclui a diretiva !important no valor do display
 */
@mixin flexBox($important: false) {
    display: -webkit-flex if($important, !important, null);
    /* display: -o-flex;
    display: -moz-flex;
    display: -ms-flex; */
    display: flex if($important, !important, null);
}

/**
 *  Flex
 *  -------
 *  Definir as propriedades dos itens flexiveis
 */
@mixin flex($v) {
    -webkit-flex: $v;
    flex: $v;
}

/**
 *  Flex
 *  -------
 *  Definir o comportamento dos itens flexiveis
 */
@mixin flexFlow($v) {
    -webkit-flex-flow: $v;
    flex-flow: $v;
}

/**
 *  Tamanho
 *  ----------
 *  Configurar como o tamanho de um elemento
 *  deve ser configurado
 */
@mixin boxSizing($v: border-box) {
    -webkit-box-sizing: $v;
    -moz-box-sizing: $v;
    box-sizing: $v;
}

/**
 *  Transformar
 *  ----------
 *  Incluir efeitos no objeto
 */
@mixin transformacao($v) {
    -webkit-transform: $v;
    -moz-transform: $v;
    -ms-transform: $v;
    transform: $v;
}

/**
 *  Animar
 *  ----------
 *  Efeito de transicao
 */
@mixin transicoes($v: all 1s) {
    -webkit-transition: $v;
    -o-transition: $v;
    -moz-transition: $v;
    transition: $v;
}

/**
 * Aplicar uma ou mais animações
 */
@mixin animacoes($v) {
    -webkit-animation: $v;
    -moz-animation: $v;
    -o-animation: $v;
    animation: $v;
}

/**
 * Aplicar filtros
 */
@mixin filtro($v) {
    // -webkit-filter: $v;
    // -moz-filter: $v;
    // -o-filter: $v;
    -ms-filter: $v;
    filter: $v;
}