// Incluir arquivos de ajuda ------------------------------------------------ //
@import '../_ajuda/*';

// Configurações ------------------------------------------------------------ //
$dlx-topo-altura: 55px;

// Fontes ------------------------------------------------------------------- //
/* @font-face {
    font-family: 'Neuropol';
    src: url('fontes/neuropol.ttf');
} */

@font-face {
    font-family: 'Icomoon';
    src: url('fontes/icomoon/icomoon.ttf');
}

// -------------------------------------------------------------------------- //
*, *::before, *::after {
    // Tamanho
    box-sizing: border-box;
}

body {
    // Texto
    font: 13px sans-serif;

    // Margens
    margin: 0;
    padding: 0;

    // Visual
    background: #FAFAFA;
}

// Incluir os itens do layout ----------------------------------------------- //
@import 'layout/*';

// Incluir os componentes ao tema ------------------------------------------- //
@import 'componentes/*';
